:root {
  /* Text colors */
  --color-txt-main-slate: #434455;
  --color-txt-nav-hover-ocean: #404bbf;
  --color-txt-nav-navy-blue: #2e2f42;
  /* Frame colors */
  --color-iris: #4d5ae5;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Founts */
  --fount-primary: Roboto, sans-serif;
  --fount-secondary: Raleway, sans-serif;
}
/* 
  |==========================================================
  | Base styles
  |==========================================================
*/
body {
  font-family: var(--fount-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-txt-main-slate);
}
.section {
}
.logo {
}
/* Reset */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* 
  |==========================================================
  | Header styles
  |==========================================================
*/

.header {
}
.header-nav {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--color-txt-nav-navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-txt-nav-hover-ocean);
}
.header-contact {
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-link {
}
/* uppertitle undertitle slider */
