:root {
  /* Text colors */
  --color-txt-main-slate: #434455;
  --color-txt-nav-hover-ocean: #404bbf;
  --color-txt-caption-navy-blue: #2e2f42;
  --color-txt-caption-iris: #4d5ae5;
  --color-txt-caption-cloud: #f4f4fd;
  --color-txt-white: #ffffff;
  /* BG colors */
  --color-bg-btn-hover-ocean: #404bbf;
  --color-bg-white: #ffffff;
  --color-bg-navy-blue: #2e2f42;
  --color-bg-btn-iris: #4d5ae5;
  --color-bg-btn-cloud: #f4f4fd;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
  /* Founts */
  --fount-primary: Roboto, sans-serif;
  --fount-secondary: Raleway, sans-serif;
}
/* 
  |==========================================================
  | Base styles
  |==========================================================
*/
body {
  font-family: var(--fount-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-txt-main-slate);
  /*  
  text-align: inherit;
  */
}
.section {
}
.logo {
  text-transform: uppercase;
  font-family: var(--fount-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-txt-caption-iris);
}
.logo-light {
  color: var(--color-txt-caption-cloud);
}
.logo-dark {
  color: var(--color-txt-caption-navy-blue);
}
.btn {
  font-family: inherit;
  background-color: var(--color-bg-btn-cloud);
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background-color: var(--color-bg-btn-hover-ocean);
}
.btn-dark {
  background-color: var(--color-bg-btn-iris);
}
/* Reset  styles*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* 
  |==========================================================
  | Header styles
  |==========================================================
*/

.header {
  background-color: var(--color-bg-white);
}
.header-nav {
}
.header-list {
  font-weight: 500;
}
.header-item {
}
.header-link {
  color: var(--color-txt-caption-navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-txt-nav-hover-ocean);
}
.header-contact {
  font-style: normal;
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-link {
  color: var(--color-txt-main-slate);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-txt-nav-hover-ocean);
} /* 
  |==========================================================
  | Hero styles
  |==========================================================
*/
.hero {
  background-color: var(--color-bg-navy-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-txt-white);
}
.hero-btn {
  color: var(--color-txt-white);
}
/* 
  |==========================================================
  | Features styles
  |==========================================================
*/
.features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-undersubtitle {
} /* 
  |==========================================================
  | Product styles
  |==========================================================
*/
.product {
}
.product-title {
}
.product-list {
}
.product-item {
}
.product-img {
  width: 360px;
  height: 300px;
} /* 
  |==========================================================
  | Team styles
  |==========================================================
*/
.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-subtitle {
}
.team-undersubtitle {
} /* 
  |==========================================================
  | Footer styles
  |==========================================================
*/
.footer {
}
.footer-undersubtitle {
}
